.popup-container {
  width: 300px;
  height: 200px;
  overflow: auto;
}
.price-range {
  display: flex;
}
.price-level {
  font-size: 24px;
  color: gray;
  cursor: pointer;
}
.selected {
  color: black;
}
